html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --night: #353535;
  --rose: #d5b0ac;
  --moon: #48b8d0;
  --shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--night);
}

.header {
  width: 100%;
  text-align: center;
  color: var(--moon);
  border-bottom: 1px solid var(--moon);
  font-size: 2.2rem;
  letter-spacing: 2px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 10%; */
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-container {
  background-color: var(--moon);
  color: white;
  border-radius: 1rem;
  width: 25%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 1.2rem;
  animation: bounceAnimation 1s infinite;
  text-align: center;
}

.text-container p {
  margin: 0;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  width: 100%;
}

.place-ships {
  position: absolute;
  top: 56%;
  left: 50%;
  height: 650px;
  width: 500px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--moon);
  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--night);
  box-shadow: var(--shadow);
  transition: 0.5s ease;
}

.place-ships h2 {
  color: #0a0a0a;
  font-size: 2rem;
  margin: 0;
  width: 100%;
  text-align: center;
  border: 1px solid var(--moon);
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: var(--moon);
}

.playerBoard,
.computerBoard,
.place-board {
  width: 400px;
  height: 400px;
  border: 1px solid #0a0a0a;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: #535353;
}

.playerBoard div,
.computerBoard div,
.place-board div {
  border: 1px solid #0a0a0a;
}

.playerBoard div,
.computerBoard div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: white;
  transition: all 0.4s ease;
}

.playerBoard div:hover,
.computerBoard div:hover {
  cursor: pointer;
  background-color: #48b8d0;
}

.hovered {
  background-color: white;
}

.gone {
  transform: scale(0);
  transition: 0.5s ease-in;
}

button {
  background-color: var(--moon);
  border: 1px solid var(--moon);
  padding: 0.7rem 3rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  transition: 0.2s ease-in-out;
  font-family: "Open Sans", sans-serif;
}

button:last-of-type {
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
  color: white;
  box-shadow: var(--shadow);
  border: 1px solid white;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

img {
  width: 30px;
  height: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--moon);
  width: 100%;
  border-top: 1px solid var(--moon);
}

@keyframes bounceAnimation {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }
}

@media only screen and (max-width: 1000px) {
  .playerBoard,
  .computerBoard,
  .place-board {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
  }

  .playerBoard div,
  .computerBoard div {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 805px) {
  .board-container {
    flex-direction: column;
  }

  .text-container {
    width: 11rem;
    height: 5rem;
  }
}
