html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.place-ships {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  transform: translate(-50%, -50%);
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.playerBoard,
.computerBoard,
.place-board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.playerBoard div,
.computerBoard div,
.place-board div {
  border: 1px solid black;
}

.hovered {
  background-color: gray;
}
